<a href="https://colab.research.google.com/github/mahnoorfatimafaizi/GIAIC-Quarter03-Onsite/blob/main/Class02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Escape Sequences: \t and \n



*   \t add a **tab space** (equal to 4 spaces)
*   \n moves text to a **new line**

In [1]:
print("Hello\tWorld")

Hello	World

In [3]:
print("Hello World, \nI am student")

Hello World,
I am student

# Character Extraction: Letter Count

we can access individual characters of a string using their **index** (starting from 0)

In [5]:
message= "Hello World"
print(message[4])

o

# String Slicing

Extract a portion of a string using slicing **(start:end)**. The end index is **not included**

In [21]:
message: str = "Hello World"
print(message[0:5])

Hello

In [7]:
print(message[6:11])

World

# Bytes In Python

Bytes are used for **file transfers** and **memory-efficient operations**. In python, a bytes object stores raw data, similar to a string but in **byte form**.

In [13]:
byte_data:bytes = b"Hello"
print(byte_data[0])

72

In [14]:
(byte_data[1])

101

In [15]:
(byte_data[2])

108

In [16]:
(byte_data[3])

108

In [17]:
(byte_data[4])

111

# Splitting Strings ( split() )

The *split()* method **breaks a string** into a list of words based on spaces or given separator.

In [19]:
sentence: str = "Today is Tuesday"
print(sentence.split())

['Today', 'is', 'Tuesday']

# Joining Strings ( join() )

The *join()* method **combines** a list into a string.

In [20]:
words:str = ["Today", "is", "Tuesday"]
print(" ".join(words))

Today is Tuesday

# Conditional Statements ( if,elif,else )

Used for **decision-making** in Python.

In [24]:
age:int = 18

if age < 18:
  print("You are a minor.")
elif age == 18:
  print("You just became an adult.")
else:
  print("You are an adult.")

You just became an adult.

# Dictionaries

A **dictionary** stores key-value pairs, making data retrieval fast.

In [25]:
student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science"
}
print(student["name"])

Alice

In [26]:
print(student["age"])

20

In [27]:
print(student["major"])

Computer Science

# Tuples (Immutable List)

A **tuple** is like a list but **cannot be changed** once created.

In [29]:
coordinates = (10,20)
print(coordinates[1])

20

Trying to modify a tuple will cause an error